@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #fff;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Lato', 'Arial', sans-serif;
}

.container {
    max-width: 1140px;
    padding: 0 2rem;
}

.header-textstyle-1 {
    font-size: 3.1rem;
    font-weight: 700;
}

.header-textstyle-2 {
    font-size: 4rem;
    font-weight: 700;
}

.body-textstyle-1 {
    font-size: 1.6rem;
}

.body-textstyle-2 {
    font-size: 1.2rem;
    font-weight: 600px;
    text-align: center;
}

.section-divider {
    margin: 0;
    padding: 0;
    border: 4px solid #8f8f8f;
    background-color: #8f8f8f;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('Images/Netflix-Banner.png');
}

.navbar {
    padding: 1.8em 3.5em;
}

.left-buttons {
    display: flex;
}

.btn-customize,
.btn-customize:hover {
    color: #fff;
    border: 1px solid #fff;
}


.sign-in {
    padding: .5em 1.2em;
    background-color: #ff0011;
    border-radius: 3px;
    margin-left: 1em;
}

.sign-in a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.hero-content {
    text-align: center;
    padding: 9em 0;
}

.get-started-field {
    display: flex;
    justify-content: center;
}

.get-started-field input[type="email"] {
    width: 500px;
    padding: 1em 1em;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    color: #000;
}

.get-started-field input:focus {
    border: none;
    outline: none;
}

.get-started-button {
    background-color: #ff0011;
    max-width: 300px;
    display: flex;
    justify-content: center;

}

.get-started-button button {
    background: transparent;
    border: none;
    padding: 1em 2em;
    display: flex;
}

.get-started-button a {
    color: #fff;
    font-size: 2.2rem;
    text-decoration: none;
    line-height: 1;
    margin-right: .5em;
}


/* CONTENT SECTION 1 - Enjoy on your TV. */
.left-content {
    max-width: 500px;
}

.section {
    margin: 2em 0;
}


.section--faq {
    display: block;
    margin: 4em;
}


.accordion {
    max-width: 800px;
    margin: 3em auto;
}

.accordion-item {
    background-color: #303030;
    font-size: 1.6rem;
    margin: .3em 0;
}

.accordion-header button {
    background-color: #303030;
    font-size: 1.6rem;
    color: #fff;
    padding: .8em 1em;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #303030;
    box-shadow: 0 0 0 0;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("Images/Arrow-Down.svg");

}

.accordion-button::after {
    background-image: url("Images/Arrow-Down.svg");
    transform: translateY(6px);
}

.right-content {
    position: relative;
}

.tv-frame,
.mac-frame {
    z-index: 1;
}

.tv-video {
    position: absolute;
    top: 80px;
    left: 68px;
    z-index: -1;
}

.mac-video {
    position: absolute;
    top: 23px;
    left: 90px;
    z-index: -1;
}

/* FOOTER SECTION */

.footer {
    margin: 4em auto;
    max-width: 900px;
}

.footer .call-number {
    margin: 1.5em 0;
    color: rgb(124, 124, 124);
    font-size: 1rem;
}

.footer .call-number a {
    color: rgb(124, 124, 124);
    text-decoration: none;
}

.footer .call-number a:hover {
    text-decoration: underline;
}

.footer-items-container {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: 150px;
}

.footer-items-container a {
    font-size: .85rem;
    color: rgb(124, 124, 124);
    text-decoration: none;
    margin: 6px 0;
}

.footer-items-container a:hover {
    text-decoration: underline;
}

.copyright p {
    margin-top: 1em;
    color: #8f8f8f;
}


@media (max-width: 1400px) {
    .header-textstyle-2 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .body-textstyle-1 {
        font-size: 1.6rem;
    }

    .body-textstyle-2 {
        font-size: 1.2rem;
        font-weight: 600px;
    }

    .brand-logo img {
        width: 140px
    }
}

@media (max-width: 945px) {
    .header-textstyle-1 {
        font-size: 2.6rem;
        font-weight: 700;
        text-align: center;
    }

    .header-textstyle-2 {
        font-size: 3rem;
        font-weight: 700;
    }

    .body-textstyle-1 {
        font-size: 1.4rem;
        text-align: center;
    }

    .brand-logo img {
        width: 120px
    }

    .get-started-field {
        margin-top: 1em;
        display: flex;
        gap: 2em;
        justify-content: center;
        align-items: center;
    }

    .get-started-field input[type="email"] {
        max-width: 500px;
        padding: 1em 1em;
        font-size: 1em;
        font-weight: 600;
        border: none;
        color: #000;
    }

    .get-started-field input:focus {
        border: none;
        outline: none;
    }

    .get-started-button {
        background-color: #ff0011;
        max-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .get-started-button button {
        padding: .8em;
    }

    .get-started-button a {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;
        line-height: 1;
        margin-right: .5em;
    }

    .section {
        display: flex;
        flex-direction: column;
    }

    .accordion-item button {
        font-size: 1.2rem;
    }

    .accordion-body {
        font-size: 1.4rem;
    }

    .get-started-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .header-textstyle-1 {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
    }

    .header-textstyle-2 {
        font-size: 2.6rem;
        font-weight: 700;
    }

    .body-textstyle-1 {
        font-size: 1.2rem;
        text-align: center;
    }

    .section--faq {
        margin: 4em 0
    }

    .navbar {
        padding: 1.8em 2em;
    }

    .get-started-field input[type="email"] {
        max-width: 420px;
        padding: 1em 1em;
    }

    .get-started-button button {
        display: flex;
        align-items: center;
    }

    .get-started-button button img {
        width: 15px;
    }

    .accordion-item button {
        font-size: 1.2rem;
    }

    .accordion-body {
        font-size: 1.2rem;
    }

    .right-content .tv-frame img {
        width: 400px;
    }

    .right-content .tv-video img {
        width: 285px;
        position: relative;
        top: -15px;
        right: 12px;
    }

    .right-content .mac-frame img {
        width: 400px;
    }

    .right-content .mac-video img {
        width: 250px;
        position: relative;
        top: -5px;
        right: 12px;
    }

    .right-content img {
        width: 400px
    }

    .footer-items-container {
        height: 200px;
    }
}

@media (max-width: 420px) {
    .header-textstyle-1 {
        font-size: 2rem;
    }

    .header-textstyle-2 {
        font-size: 2rem;
    }

    .body-textstyle-2 {
        font-size: 1rem;
    }

    .accordion-item button {
        font-size: 1rem;
    }

    .sign-in {
        padding: .5em;
    }

    .accordion-body {
        font-size: 1rem;
    }

    .navbar {
        padding: 1.4em 1em;
    }

    .get-started-field input[type="email"] {
        width: 300px;
        padding: 1em 1em;
    }

    .get-started-field input:focus {
        border: none;
        outline: none;
    }

    .get-started-button {
        background-color: #ff0011;
        max-width: 300px;
        display: flex;
        justify-content: center;

    }

    .get-started-button button {
        display: flex;
        align-items: center;
    }

    .get-started-button button img {
        width: 10px;
    }

    .get-started-button a {
        font-size: 1.4rem;
        line-height: 1;
        margin-right: .5em;
    }

    .section {
        display: flex;
        flex-direction: column;
    }

    .right-content .tv-frame img {
        width: 300px;
    }

    .right-content .tv-video img {
        width: 218px;
        position: relative;
        top: -32px;
        right: 28px;
    }

    .right-content .mac-frame img {
        width: 300px;
    }

    .right-content .mac-video img {
        width: 185px;
        position: relative;
        top: -10px;
        right: 35px;
    }

    .right-content img {
        width: 300px
    }

    .footer-items-container {
        height: 280px;
    }
}